name: test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v2

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Rust Version Info
      run: rustc --version && cargo --version

    - name: Rust Targets Info
      run: rustup target list

    - name: Run tests
      run: |
        RUSTFLAGS="-D warnings" cargo test -p swift-bridge \
          -p swift-bridge-build \
          -p swift-bridge-cli \
          -p swift-bridge-ir \
          -p swift-bridge-macro \
          -p swift-integration-tests
  
  integration-test:
    runs-on: macOS-11
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v2

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    # Make sure the files that we will generate exist before the build begins.
    # This prevents the "Build input files cannot be found" error for generated files.
    - name: Create generated files
      run: PROJECT_DIR="$(pwd)/SwiftRustIntegrationTestRunner" ./SwiftRustIntegrationTestRunner/build-rust.sh

    - name: Run integration tests
      run: ./test-integration.sh
